<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="CSVService" class="org.otus.springframework.homework1.service.CSVServiceImpl"/>
    <bean id="testService" class="org.otus.springframework.homework1.service.TestServiceImpl">
        <constructor-arg ref="CSVService"/>
    </bean>
</beans>